$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #c0d1ed;
$baby-pink: #edc0e9;
$mild-pink: #edc0c6;
$pale-green: #ddf2c6;

body {
  background-color: $background-color;
  display: flex;
}

.mainboard {
  width: 50%;
}

#squareone {
  border-left: 1px solid green;
  border-right: 1px solid green;
}

#squarethree {
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}

#squarefour {
  border: 1px solid green;
}

#squarefive {
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}

#squareseven {
  border-left: 1px solid green;
  border-right: 1px solid green;
}

.box {
  width: 30%;
  padding-bottom: 30%;
  height: 0;
  cursor: pointer;
  font-size: 50px;
  text-align: center;
  color: $pale-green;
}

.all-forms {
  width: 50%;
}

// @ media query the board and form fields!!
